@import "./components/button.css";
@import "./components/alert.css";
@import "./components/avatar.css";
@import "./components/image.css";
@import "./components/navbar.css";
@import "./components/modal.css";
@import "./components/form.css";
@import "./components/list.css";
@import "./components/badge.css";
@import "./components/toast.css";
@import "./components/card.css";
@import "./components/carousel.css";
@import "theme.css";
@import "utility.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
}