:root {
    --clr-primary: #ed2945;
    --clr-gray-lighter: #f5f5f5;
    --clr-black: #1d1d1d;
    --clr-gray-light: #e8e8e8;
    --clr-gray: rgb(94, 95, 86);
    --clr-info: #3581D8;
    --clr-warning: #ffa502;
    --clr-error: #D82E3F;
    --clr-success: #28CC2D;
    --clr-twitter: #1da1f2;
    --clr-facebook: #385898;

    --clr-text-muted: #777;
    --clr-area-muted: #eee;

    --clr-primary-h: 351;
    --clr-primary-l: 55%;
    --clr-primary-s: 84%;
}