.list--no-bullets {
    list-style: none;
}

.highlight-text {
    color: var(--clr-primary);
    font-weight: 800;
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
}

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container--center {
    margin: 0 auto;
    width: 80%;
    min-width: 480px;
}

.container--fluid {
    width: 100%;
}

.sticky--top {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.sticky {
    position: fixed;
    z-index: 1000;
}

.flex--row {
    display: flex;
    flex-flow: row;
}

.flex--column {
    display: flex;
    flex-flow: column;
}

.scrollable-x {
    overflow-y: hidden;
    overflow-x: auto;
}

.scrollable-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.clickable {
    cursor: pointer;
}

.underline {
    border-bottom: 1px solid var(--clr-light-gray);
}

.sticky--left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.text--primary {
    color: var(--clr-primary);
}

.icon--xs {
    width: 1rem;
}

.icon--sm {
    width: 1.5rem;
}

.icon--md {
    width: 2rem
}

.icon--lg {
    width: 2.5rem;
}

.icon--xlg {
    width: 3rem;
}

.fa--xs {
    font-size: 1rem;
}

.fa--sm {
    font-size: 1.5rem;
}

.fa--md {
    font-size: 2rem
}

.fa--lg {
    font-size: 2.5rem;
}

.fa--xlg {
    font-size: 3rem;
}

.fa--primary {
    color: var(--clr-primary);
}

.fa--hover:hover {
    color: var(--clr-gray);
}

.title--xs {
    font-size: 1.25rem;
}

.title--sm {
    font-size: 1.5rem;
}

.title--md {
    font-size: 1.75rem;
}

.title--lg {
    font-size: 2rem;
}

.title--xlg {
    font-size: 2.5rem;
}

.title {
    margin-bottom: 1em;
    font-weight: 600;
}

.text--xs {
    font-size: 0.7rem;
}

.text--sm {
    font-size: 1.2rem;
}

.text--md {
    font-size: 1.5rem;
}

.text--lg {
    font-size: 1.75rem;
}

.text--xlg {
    font-size: 2rem;
}

.text--muted {
    color: var(--clr-gray);
    font-size: 0.9rem;
}

.text {
    line-height: 1.2em;
    margin-bottom: 1em;
}

.hashtag {
    display: inline;
    color: var(--clr-info);
    padding: 0.2em 0;
    cursor: pointer;
}

.hashtag:hover {
    text-decoration: underline;
}

.hover--scale-out:hover {
    transform: scale(1.05);
    transition: 100ms;
}