.alert {
    min-width: 500px;
    height: 90px;
    font-size: 1rem;
    font-family: inherit;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem 0 0.5rem 1rem;
    /* position: fixed;
    top: 10px;
    right: 10px; */
    background: var(--clr-black);
    color: white;
    z-index: 2;
    overflow: hidden;
    margin: 0.5rem;
}

.alert__icon {
    margin-right: 1rem;
}

.alert__text {
    flex: 1;
    justify-self: flex-start;
}

.alert__close {
    color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.alert__close:hover {
    background: rgba(1, 1, 1, 0.2);
}

.alert--info {
    border-left: 8px solid var(--clr-info);
}

.alert--info .alert__icon {
    color: var(--clr-info);
}

.alert--warning {
    border-left: 8px solid var(--clr-warning);
}

.alert--warning .alert__icon {
    color: var(--clr-warning);
}

.alert--error {
    border-left: 8px solid var(--clr-error);
}

.alert--error .alert__icon {
    color: var(--clr-error);
}

.alert--success {
    border-left: 8px solid var(--clr-success);
}

.alert--success .alert__icon {
    color: var(--clr-success);
}