.avatar {
    object-fit: cover;
    border-radius: 50%;
}


.avatar--xs {
    width: 75px;
    height: 75px;
}

.avatar--sm {
    width: 100px;
    height: 100px;
}

.avatar--md {
    width: 125px;
    height: 125px;
}

.avatar--lg {
    width: 150px;
    height: 150px;
}

.avatar--xl {
    width: 200px;
    height: 200px;
}