.card {
    max-width: 700px;
    /* width: clamp(400px, 650px, 700px); */
    box-shadow: 0 0 5px 5px var(--clr-gray-light);
    margin: 1rem;
    background: white;
}

.card__media {
    grid-area: media;
}

.card__header {
    grid-area: header;
}

.card__body {
    grid-area: body;
}

.card__footer {
    grid-area: footer;
}

.card--horizontal {
    display: inline-grid;
    grid-template-columns: 300px auto;
    column-gap: 0.2rem;
    grid-template-areas: "media header"
        "media body"
        "media footer";
}

.card--horizontal-avatar {
    display: inline-flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.card--vertical {
    display: inline-grid;
    grid-template-rows: minmax(60px, auto) 300px auto minmax(80px, auto);
    grid-template-areas: "header"
        "media"
        "body"
        "footer";
}

.card__media--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__media--avatar {
    padding: 0.5em;
}

.card__body {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card__body__title {
    padding: 0.2em 0;
    margin: 0.2em 0;
    color: var(--clr-primary);
    font-weight: 600;
}

.card__body__detail {
    color: var(--clr-gray);
    text-align: justify;
    padding: 0.1em 0;
    margin: 0.1em 0;
}

.card__header {
    padding: 0.2em;
    margin: 0.1rem 0;
}

.card__tag {
    padding: 0.5em;
    font-weight: 700;
    display: inline;
    color: var(--clr-gray);
}

.card__footer {
    border-top: 1px solid var(--clr-light-gray);
    padding: 0.5em;
    margin: 0.5rem;
    color: var(--clr-gray);
}

.card--text-overlay {
    height: 600px;
    width: 100%;
}

.card--text-overlay,
.card__body:before {
    padding: 0.5em 1.25em;
    background-image: var(--img-bg-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--text-overlay .card__body {
    color: var(--clr-text);
    width: 100%;
    min-height: 70%;
    padding: 0.4em 2em;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.card--text-overlay .card__body:before {
    content: '';
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


.card--text-overlay .card__body__detail,
.card--text-overlay .card__body__title {
    color: var(--clr-text);
}

@media (max-width: 600px) {
    .card__body {
        margin: 1rem;
    }

    .card--text-overlay .card__body__title {
        font-size: 3em;
    }

    .card--text-overlay .card__body__text {
        font-size: 1.5em;
    }
}