.field,
.field--set {
    margin: 1rem;
    font-size: inherit;
}

.field__input {
    width: 100%;
    display: block;
    font-size: inherit;
    outline: none;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--clr-gray);
    border-radius: 4px;
    margin: 0.5rem 0 0.2rem;
    transition: 280ms border ease-in-out;
}

.field__label {
    font-size: 1.1rem;
}

.field--readonly .field__input {
    border-style: dashed;
    border-width: 3px;
    cursor: not-allowed;
    color: var(--clr-text-muted);
}

.field--disabled .field__input {
    background-color: var(--clr-area-muted);
    cursor: not-allowed;
    border-color: #ccc;
}

.field--required .field__label::before {
    content: "*";
    color: var(--clr-error);
    padding-right: 0.1em;
}


.field__input:focus {
    border-color: hsl(var(--clr-primary-h),
            var(--clr-primary-s),
            var(--clr-primary-l));
    /* box-shadow: 0 0 0 3px hsl(var(--clr-primary-h),
            var(--clr-primary-s),
            calc(var(--clr-primary-l) + 40%)); */
    border-width: 3px;
    /* border: 3px solid var(--clr-gray); */
}

.field textarea {
    resize: vertical;
}


.field--set>* {
    margin: 0.5em;
}

.field--horizontal {
    display: flex;
    flex-flow: row wrap;
}


.field__input--slider {
    width: 100%;
    cursor: pointer;
}

.field--required .field__text {
    color: var(--clr-error);
}

fieldset {
    border: none;
}


.checkbox--container {
    position: relative;
}

.field--checkbox input[type="checkbox"] {
    opacity: 0;
}

.field--checkbox input[type="checkbox"]+label {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 0;
    padding-left: 30px;
    line-height: 28px;
}

.field--checkbox input[type="checkbox"]+label::before {
    position: absolute;
    left: 0;
    content: '';
    width: 28px;
    height: 28px;
    border: 1px solid var(--clr-gray);
}

.field--checkbox input[type="checkbox"]:checked+label::before {
    position: absolute;
    left: 0;
    content: '';
    width: 28px;
    height: 28px;
    border: 1px solid var(--clr-gray);
    background-color: var(--clr-primary);
    background-image: url("../assets/form/check-solid.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}