.list {
    list-style: none;
    margin: 1rem;
    display: inline-block;
}

.list__item {
    width: 500px;
    font-size: 1.2rem;
    padding: 1em;
    border: 1px solid var(--clr-gray);
    border-top: none;
}

.list .list__item:nth-child(1) {
    border-top: 1px solid var(--clr-gray);
}

.list__item__header {
    padding: 0.2em 0 0.5em;
    color: var(--clr-primary);
}

.list__item__body {
    font-size: 1rem;
    text-align: justify;
}

.list__item__footer {
    display: block;
    margin-top: 1rem;
}


.list__item:hover {
    background-color: var(--clr-black);
    color: white;
}

.list__item:hover .text-muted,
.list__item:hover .list__item__header {
    color: white;
}

.list__item__badge {
    font-size: 1rem;
}