.toast {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    font-family: inherit;
    min-width: 500px;
    height: 90px;
    border-left: 8px solid var(--clr-warning);
    border-radius: 8px;
    z-index: 2;
    background: var(--clr-black);
    color: white;
}

.toast__layout {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 1rem;
    overflow: hidden;
}

.toast__icon {
    color: var(--clr-warning);
    margin-right: 0.5rem;
}

.toast__text {
    flex: 1;
    justify-self: flex-start;
}

.toast__close {
    color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.toast__close:hover {
    background: rgba(1, 1, 1, 0.2);
}

.toast--show {
    animation: toast_show 1s ease forwards;
}

.toast--hide {
    animation: toast_hide 750ms ease forwards;
}

@keyframes toast_show {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        trasnform: translateX(0%);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes toast_hide {
    100% {
        overflow: hidden;
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    /* 80% {
        transform: translateX(-10%);
    }

    40% {
        trasnform: translateX(0%);
    }

    0% {
        transform: translateX(-10px);
    } */
}